exportPattern("^[[:alpha:]]+")
import(R6)
import(ggplot2)
import(patchwork)
import(scales)
importFrom(plotly, plot_ly, add_surface, layout, add_annotations, add_lines)
importFrom(gridExtra,tableGrob)
import(RColorBrewer)
import(dplyr)
import(tidyr)
import(tibble)
importFrom(MASS,boxcox)
import(Rsolnp)
importFrom(grid,convertWidth,textGrob)
importFrom(EnvStats,ebeta)
